<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= articles.title %>
  </title>
  <%- include('includes/head.ejs') %>
</head>

<body class="single">
  <%- include('includes/navigation.ejs') %>
    <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
      <div class="container paddding">
        <div class="row mx-0">
          <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
            <li style="list-style-type: none;">
              <div class="row pb-4">
                <a href="/get-article/<%= articles._id %>">
                  <div class="col-md-5">
                    <div class="fh5co_hover_news_img">
                      <div class="fh5co_news_img"><img src=<%=articles.imageUrl %> alt="<%= articles.title %>" />
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-md-7 animate-box">
                <a href="/get-article/<%= articles._id %>" class="fh5co_magna py-2">
                  <h1>
                    <%= articles.title %>
                  </h1>
                </a>
                <a href="/get-article/<%= articles._id %>">
                  <div class="fh5co_consectetur" style="margin-top: 1rem;">
                    <p>
                      <%= articles.articleText%>
                    </p>
                  </div>
                </a>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>
    <%- include('includes/footer.ejs') %>

</body>

</html>