<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ana Sayfa</title>
  <%- include('includes/head.ejs') %>

</head>

<body>
  <%- include('includes/navigation.ejs') %>

    <div class="container-fluid pb-4 pt-4 paddding">
      <div class="container paddding">
        <div class="row mx-0">
          <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
            <div>
              <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Blog Yazıları</div>
            </div>
            <% if(articles.length> 0) { %>
              <% articles.forEach(p=> { %>
                <li style="list-style-type: none;">

                  <div class="row pb-4">
                    <a href="/get-article/<%= p._id %>">
                      <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                          <div class="fh5co_news_img"><img src=<%=p.imageUrl %> alt="<%= p.title %>" /></div>
                        </div>
                    </a>
                  </div>
                  <div class="col-md-7 animate-box">
                    <a href="/get-article/<%= p._id %>" class="fh5co_magna py-2">
                      <%= p.title %>
                    </a>
                    <a href="/get-article/<%= p._id %>">
                      <div class="fh5co_consectetur" style="margin-top: 1rem;">
                        <%= p.articleText.split("").slice(0, 200).join("") %>
                      </div>
                    </a>
                  </div>
          </div>
          </li>
          <% }) %>

            <% }else { %>
              <h1>No Article Found!</h1>
              <% } %>
        </div>

      </div>
      <%- include('includes/numberBar.ejs') %>

    </div>
    </div>

    <%- include('includes/footer.ejs') %>


</body>

</html>